/* Splash page stylings */
.splash-page {
    background:url(/img/splash-bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.splash-page .card {
    margin-top:40px;
}

.splash-page .logo h1 {
    margin-top:30px;
    text-align:center;
    color:#fff !important;
    font-family: Verdana, Geneva, sans-serif;
    font-weight:bold;
    letter-spacing: -3px;
    font-size:42px;
}

.splash-page .signup-opt {
    color:#fff;
    padding:15px;
    margin-top:20px;
    font-weight: bold;
    cursor:pointer;
}

.splash-page .action-button {
    font-weight: bolder;
}

/* Discover page stylings */
.discover-page {

}

.discover-page .current-song {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;

    -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
    transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}

.discover-page .current-song .item-image {
    max-height:300px;
    overflow:hidden;
}

@media screen and (max-height: 600px) {
    .discover-page .current-song .item-image {
        max-height:200px;
        overflow:hidden;
    }
}

.discover-page .current-song.favorited.ng-hide {
    -webkit-transform: translateX(1000px) rotate(50deg);
    -ms-transform: translateX(1000px) rotate(50deg);
    transform: translateX(1000px) rotate(50deg);
    opacity:0;
}

.discover-page .current-song.skipped.ng-hide {
    -webkit-transform: translateX(-1000px) rotate(-50deg);
    -ms-transform: translateX(-1000px) rotate(-50deg);
    transform: translateX(-1000px) rotate(-50deg);
    opacity:0;
}

.discover-page .current-song.ng-hide-add {
    -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
    transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
    display:block!important;
}

.discover-page .current-song.ng-hide-remove {
    -webkit-transform: scale(0.7) translateX(0px) rotate(0deg);
    -ms-transform: scale(0.7) translateX(0px) rotate(0deg);
    transform: scale(0.7) translateX(0px) rotate(0deg);
    opacity: 0;
}


.discover-page .img-lookahead img {
    height:1px;
    width:1px;
    opacity:0.01;
}



/* BUTTON CSS
------------------------------------------- */

a.button{
    display:inline-block;

    font:normal normal 300 1.3em 'Open Sans';
    text-decoration:none;

    color:#db001f;;
    brackground-color:white;
    border:1px solid #db001f;
    border-radius:100px;

    padding: .3em 1.2em;
    margin:5px;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #db001f);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    padding-top: 12px;
}

a.button:hover{
    color:#db001f;
    background-color:#db001f;;
    background-position: -100% 100%;
}
.buttonOuter {
    text-align: center;
    padding-top: 10px;
}
.centerMe {
    text-align: center;
}
.outerAlert {
    width: 100%;
}
.inner1 {
    display: inline-block;
    width: 40%;
}
.inner2 {
    display: inline-block;
    height: inherit;
    width: 100%;
    /*height: 97px;*/
    color: #db001f;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}
.colorChange {
    text-align: center;
}
.headingMargin {
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 3%;
}
.olLI {
    padding-left: 5%;
}
.olLITop {
    padding-bottom: 5%;
}
#el:before {
  background: #db001f;
  border-radius: 200px 200px 0 0;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15) inset;
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
}

#el {
  border-radius: 200px 200px 0 0;
  height: 100px;
  margin: 50px auto 0;
  overflow: hidden;
  position: relative;
  width: 200px;
  margin-top: 20px;
    margin-bottom: 15px;
}

#el:after {
  background: #fff;
  border-radius: 140px 140px 0 0;
  bottom: 0;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15);
  color: #db001f;
  content: attr(data-value);
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  font-weight: 600;
  height: 70px;
  left: 30px;
  line-height: 95px;
  position: absolute;
  text-align: center;
  width: 140px;
  z-index: 3;
}

#needle {
  background: white;
  border-radius: 4px;
  bottom: -4px;
  box-shadow: 3px -1px 4px rgba(0, 0, 0, 0.4);
  display: block;
  height: 8px;
  left: 10px;
  position: absolute;
  width: 90px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  transition: all 1s;
}

.clicked {
  transform: rotate(20deg);
}

.gifClass {
    background: url("../img/loading-dribbble.gif");
width: 100%;
background-position-x: 369px;
background-position-y: 216px;
height: 127px;
}
.clearButton {
    float: right;
    height: 80%;
}

/* MUSIC PLAYER STYLING STARTS*/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  width: 100%;
  margin: 0 auto;
}

#menu-bar {
  cursor: pointer;
  /* not a real menu */

  margin-top: 40px;
  margin-left: 40px;
  width: 40px;
}

#menu-bar span {
  width: 100%;
  height: 4px;
  float: left;
  margin-bottom: 6px;
  background: #FFF;
}

#song-info {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

#song-info h1 {
  font-family: Roboto;
  font-weight: 500;
  color: #FFF;
  font-size: 46px;
}

#song-info p {
  font-family: Roboto;
  font-weight: 400;
  color: #FFF;
  font-size: 26px;
  margin-top: -30px;
}

#search {
  float: right;
  width: 80px;
  position: absolute;
  top: 40px;
  right: 40px;
  color: #FFF;
  cursor: pointer;
}

#content {
  z-index: 100;
  margin-top: 250px;
  left: 0;
  width: 100%;
  height: 120px;
  background: #FFF;
  -webkit-box-shadow: 0px -12px 80px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -12px 80px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -12px 80px -5px rgba(0, 0, 0, 0.75);
}
/*
CLEAN THAT BITCH
*/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#content #range {
  width: 100%;
  margin-top: -10px;
}
/*
RESTYLE THAT BITCH
*/

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #db001f;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

input[type=range]::-webkit-slider-thumb:active {
  height: 38px;
  width: 38px;
  margin-top: -18px;
}

input[type=range]::-moz-slider-thumb:active {
  height: 38px;
  width: 38px;
  margin-top: -18px;
}

input[type=range]::-ms-slider-thumb:active {
  height: 38px;
  width: 38px;
  margin-top: -18px;
}

input[type=range]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #db001f;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

input[type=range]::-ms-thumb {
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background: #db001f;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #db001f;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #db001f;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #db001f;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #db001f;
}

input[type=range]::-ms-fill-lower {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #db001f;
}

input[type=range]:focus::-ms-fill-lower {
  background:#db001f;
}

input[type=range]::-ms-fill-upper {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #db001f;
}

input[type=range]:focus::-ms-fill-upper {
  background: #db001f;
}
/*
 OK, I NEED TO CALM DOWN
*/

#content #time {
  float: left;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

#content #time p {
  color: #000;
  font-family: Roboto;
  font-weight: normal;
  font-size: 21px;
}

#content #total-time {
  float: left;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

#content #total-time p {
  color: #000;
  font-family: Roboto;
  font-weight: normal;
  font-size: 21px;
}

#content #buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 120px;
}

/*#content #buttons i {
cursor: pointer;
}*/
/*
FINALLY
*/

footer {
  position: absolute;
  bottom: 180px;
  left: 0px;
  width: 100%;
}

footer #repeat {
  float: left;
  position: absolute;
  left: 40px;
  font-size: 48px;
  bottom: 10px;
  color: #FFF;
  cursor: pointer
  /* not a button */
}

footer #random {
  float: left;
  position: absolute;
  right: 40px;
  font-size: 48px;
  bottom: 10px;
  color: #FFF;
  cursor: pointer;
  /* not a button */
}

#tip {
  position: absolute;
  display: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  background: #db001f;
  padding: 10px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 36px;
  color: #FFF;
  top: -90px;
  border-radius: 2px;
}
.buttonClass {
    font-size: xx-large;
}
/*MUSIC PLAYER STYLING ENDS*/

/*ARTICLE STYLING*/
.headingDiv {
    background-color: #db001f;
}
.articleHeading {
    color: white !important;
    font-weight: 600 !important;
    font-size: large !important;
    white-space: normal !important;
}
.individualArticleSetMargin {
    padding-left: 1%;
    padding-top: 1%;
}
