/* Splash page stylings */
.splash-page {
    background:url(/img/splash-bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.splash-page .card {
    margin-top:40px;
}

.splash-page .logo h1 {
    margin-top:30px;
    text-align:center;
    color:#fff !important;
    font-family: Verdana, Geneva, sans-serif;
    font-weight:bold;
    letter-spacing: -3px;
    font-size:42px;
}

.splash-page .signup-opt {
    color:#fff;
    padding:15px;
    margin-top:20px;
    font-weight: bold;
    cursor:pointer;
}

.splash-page .action-button {
    font-weight: bolder;
}

/* Discover page stylings */
.discover-page {

}

.discover-page .current-song {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;

    -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
    transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}

.discover-page .current-song .item-image {
    max-height:300px;
    overflow:hidden;
}

@media screen and (max-height: 600px) {
    .discover-page .current-song .item-image {
        max-height:200px;
        overflow:hidden;
    }
}

.discover-page .current-song.favorited.ng-hide {
    -webkit-transform: translateX(1000px) rotate(50deg);
    -ms-transform: translateX(1000px) rotate(50deg);
    transform: translateX(1000px) rotate(50deg);
    opacity:0;
}

.discover-page .current-song.skipped.ng-hide {
    -webkit-transform: translateX(-1000px) rotate(-50deg);
    -ms-transform: translateX(-1000px) rotate(-50deg);
    transform: translateX(-1000px) rotate(-50deg);
    opacity:0;
}

.discover-page .current-song.ng-hide-add {
    -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
    transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
    display:block!important;
}

.discover-page .current-song.ng-hide-remove {
    -webkit-transform: scale(0.7) translateX(0px) rotate(0deg);
    -ms-transform: scale(0.7) translateX(0px) rotate(0deg);
    transform: scale(0.7) translateX(0px) rotate(0deg);
    opacity: 0;
}


.discover-page .img-lookahead img {
    height:1px;
    width:1px;
    opacity:0.01;
}



/* BUTTON CSS
------------------------------------------- */

a.button{
    display:inline-block;

    font:normal normal 300 1.3em 'Open Sans';
    text-decoration:none;

    color:#db001f;;
    brackground-color:white;
    border:1px solid #db001f;;
    border-radius:100px;

    padding: .3em 1.2em;
    margin:5px;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #db001f);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    padding-top: 12px;
}

a.button:hover{
    color:#db001f;
    background-color:#db001f;;
    background-position: -100% 100%;
}
.buttonOuter {
    text-align: center;
    padding-top: 10px;
}
.centerMe {
    text-align: center;
}
.outerAlert {
    width: 100%;
}
.inner1 {
    display: inline-block;
    width: 40%;
}
.inner2 {
    display: inline-block;
    height: inherit;
    width: 100%;
    /*height: 97px;*/
    color: #db001f;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}
.colorChange {
    text-align: center;
}
.headingMargin {
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 3%;
}
.olLI {
    padding-left: 5%;
}
.olLITop {
    padding-bottom: 5%;
}
#el:before {
  background: #db001f;
  border-radius: 200px 200px 0 0;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15) inset;
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
}

#el {
  border-radius: 200px 200px 0 0;
  height: 100px;
  margin: 50px auto 0;
  overflow: hidden;
  position: relative;
  width: 200px;
  margin-top: 20px;
    margin-bottom: 15px;
}

#el:after {
  background: #fff;
  border-radius: 140px 140px 0 0;
  bottom: 0;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15);
  color: #db001f;
  content: attr(data-value);
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  font-weight: 600;
  height: 70px;
  left: 30px;
  line-height: 95px;
  position: absolute;
  text-align: center;
  width: 140px;
  z-index: 3;
}

#needle {
  background: white;
  border-radius: 4px;
  bottom: -4px;
  box-shadow: 3px -1px 4px rgba(0, 0, 0, 0.4);
  display: block;
  height: 8px;
  left: 10px;
  position: absolute;
  width: 90px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  transition: all 1s;
}

.clicked {
  transform: rotate(20deg);
}

h1,
p,
strong {
  display: block;
  font-family: Lato;
  text-align: center;
}

h1 {
  margin-bottom: 0.4em;
}

p {
  margin-top: 0;
}

strong {
  color: #efefef;
  font-size: 2.5em;
}
.darkBorder {
    border: 2px solid #b2b2b2;
    font-weight: 600;
}
.applyBorder {
    border: 1px solid #b2b2b2;
}
.applyBold {
    font-weight: 600;
}
.nameClass {
    text-align: right;
    color: #db001f;
    font-weight: 400;
    font-size: 150%;
}
.setMargin {
    margin-left: 6%;
}
.setMarginLess {
    margin-left: -2%;
}
