<ion-view title="sugarT">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-tabs="true">
        <div class="gifClass" id="gifDiv">
        </div>
        <div id="outerDragDiv">
            <div class="card" id="{{singleResponse.Id}}" ng-click="viewArticle(singleResponse.Id)" ng-repeat="singleResponse in responseComplete">
                <div id="divForDrag"  on-drag-down="draggedStyle($event, $index)" on-release = "releaseFunction($event, $index)">
                <div class="item item-avatar headingDiv">
                    <div class="articleHeading">{{singleResponse.Title}}</div>
                </div>

                <div class="item item-body">
                    <img class="full-image" ng-src="{{singleResponse.ImageUrl}}">

                </div>
            </div>
        </div>
    </div>
    </div>
    </ion-content>
</ion-view>
