<ion-view title="ARTICLES">
    <ion-content has-tabs="true">
        <div class="gifClass" ng-show="waiting">
        </div>
        <div class="card">
            <div class="item item-avatar">
                <h2>{{responseIndividual.Title}}</h2>
            </div>

            <div class="item item-body" id="individualArticle">
                <img class="full-image" ng-src="{{responseIndividual.ImageUrl}}">
            </div>
        </div>
        <div ng-repeat="individualSections in responseIndividual.Sections">
            <div>{{individualSections.Title}}</div>
            <div>{{individualSections.Description}}</div>
        </div>
    </ion-content>
</ion-view>
