<ion-view title="BMI CALCULATOR">
    <ion-content has-tabs="true">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label setMarginLess">Name</span>
                <input type="text" ng-model="uName.val" placeholder="Enter your name" class="nameClass" style="color: #db001f; font-weight: 400; font-size: 100%;">
            </label>
            <div class="genderDiv animated fadeInUp">
                <label class="item item-input item-radio">
                    <div class="input-label">
                        Gender
                    </div>
                </label>
                <ion-list>
                    <ion-radio ng-model="bmi.gender" ng-value="'true'" name="bmi.gender">Male</ion-radio>
                    <ion-radio ng-model="bmi.gender" ng-value="'false'" name="bmi.gender">Female</ion-radio>
                </ion-list>
            </div>
            <br />
            <div class="list animated fadeInUp">
                <label class="item item-input item-select">
                    <div class="input-label setMarginLess">
                        Height
                    </div>
                    <select ng-model="bmiCal.ht">
                        <option ng-value="height.val1" ng-repeat="height in htArr">{{height.disp}}</option>
                    </select>
                </label>
            </div>
            <div class="list animated fadeInUp">
                <label class="item item-input item-select">
                    <div class="input-label setMarginLess">
                        Weight
                    </div>
                    <select ng-model="bmiCal.weight">
                        <option ng-repeat="wt in wtArr">{{wt}}</option>
                    </select>
                </label>
            </div>
            <div class="centerMe animated rollIn">
                    <div>
                        <button class="button button-assertive" ng-click="calculateBMI(bmiCal.ht, bmiCal.weight)">
                            Calculate BMI
                        </button>
                 </div>
             </div>
             <div ng-if="bmiCalDone"  class="centerMe animated zoomIn">
                 <h4 class="md-title">Wanna Try our new Diabetes Risk Calculator?</h4>
                     <div>
                         <button class="button button-assertive" ng-click="diabRedirect()">
                             Click Here!
                         </button>
                  </div>
              </div>
        </div>
    </ion-content>
</ion-view>
