<ion-view title="BMI CALCULATOR">
    <ion-content has-tabs="true">
        <div class="list list-inset">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Height
                    </div>
                    <select ng-model="bmiCal.ht">
                        <option ng-value="height.val1" ng-repeat="height in htArr">{{height.disp}}</option>
                    </select>
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Weight
                    </div>
                    <select ng-model="bmiCal.weight">
                        <option ng-repeat="wt in wtArr">{{wt}}</option>
                    </select>
                </label>
            </div>
            <div>
                <h4 class="md-title">That's it!! Click on submit to view the results.</h4>
                    <div>
                        <button class="button button-positive" ng-click="calculateBMI(bmiCal.ht, bmiCal.weight, $event)">
                            Calculate BMI
                        </button>
                 </div>
             </div>
        </div>
    </ion-content>
</ion-view>
