<ion-view title="sugarT">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="buttonOuter">
            <a href="#" ng-click="nextPage($event)" class="button">DIABETES RISK CALCULATOR</a>
        </div>
        <div class="buttonOuter">
            <a href="#" ng-click="nextPageBmi($event)" class="button">BMI CALCULATOR</a>
        </div>
        <div class="buttonOuter">
            <a href="#" ng-click="nextPageSleepWell($event)" class="button">SLEEP WELL</a>
        </div>
        <div class="buttonOuter">
            <a href="#" ng-click="nextHistory($event)" class="button">PREVIOUS RESULTS</a>
        </div>
    </ion-content>
</ion-view>
