<!-- <ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">


    <div class="list card current-song">

      <div class="item item-image">
        <img ng-src="/img/ionic.png">
      </div>

      <div class="item">
        <h2>It's so cold in Wisconsin</h2>
        <p>Max Lynch</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-close"></i>
          Skip
        </a>
        <a class="tab-item">
          <i class="icon ion-heart"></i>
          Favorite
        </a>
      </div>

    </div>


  </ion-content>
</ion-view> -->
<ion-view title="Type 2 Diabities Test">
    <ion-content>
<div>
    <h2 class="md-title">Welcome to SugarTest!!!.</h2>
    <p>We are proud partners of American Diabities Association</p>
    <p>Click on Proceed button below to proceed</p>
        <div>
         <!-- <button class="md-raised md-primary" ng-click="nextPage()">Proceed</button> -->
         <button class="button button-positive"  ng-click="nextPage()">
             Proceed
         </button>
     </div>
     <hr />
     <div class="partnersDiv">
         <h3>Proud Partners</h3>
         <img class="ada" width="25%" src="img/ada.jpg">
     </div>
 </div>
 </ion-content>
 </ion-view>
