<ion-view title="PRIVACY POLICY">
    <ion-content has-tabs="true">
        <div class="headingMargin animated lightSpeedIn">
            <h3>yamSoft Privacy Policy</h3>
            <p>
                When you use yamSoft services, you must trust us with your information. This privacy policy is meant to help you understand what data we collect, why we collect it and what we do with it. This is important; we hope you will take time to read it carefully.
            </p>

            <h4>Privacy Policy</h4>
            <p>
                Last Modified: August 11, 2016
            </p>
            <p>
                There are many ways you can use our services – to calculate risk impending with diabetes and calculate your body mass index. You share information with us, for example for calculating diabetes risk.
            </p>
            <h4>
                Information you give us
            </h4>
            <p>
                For example, our calculators require you to fill the details such as Age, Gender, family history of diabetes, physical fitness, height and weight.
            </p>
            <h4>
                Information we get from your use of services
            </h4>
            <p>
                We collect information about the services that you use and how you use them.
            </p>
            <ul>
                <li class="olLI">
                    1. Device Information – We collect device specific information such as your hardware model and operating system version.
                </li>
                <li class="olLI">
                    2. Local Storage – We may collect and store information locally on your device.
                </li>
            </ul>



            <h4>
                How we use information we collect
            </h4>
            <p>
                We use the information we collect from all our services to provide, maintain protect and improve them. We also use this information to offer you tailored content – like providing you risk score based upon provided by you.
            </p>
            <p>
                We will ask you consent before using information for a purpose other than those set out in this privacy policy.
            </p>
            <h4>
                Updating your personal information
            </h4>
            <p>
                Whenever you take the risk test or use BMI calculator, you can always change your information as per your convenience.
            </p>
            <h4>
                Information Security
            </h4>
            <p>
                We work hard to protect your data from unauthorized access to or unauthorized alteration, disclosure and destruction of information we hold, in particular:
            </p>
            <p>
                The information provide by you remains local to your device and not by any means we use that information for other services.
            </p>
            <h4>
                Privacy policy applies to
            </h4>
            <p>
                Our Privacy Policy applies to all of the services offered by yamSoft Inc. and its affiliates, including sugarT but excludes services that have separate private policies that do not incorporate this Private Policy.
            </p>
            <p>
                Our Privacy policy does not cover the information practices of other companies and organizations who advertise our services.
            </p>
            <h4>
                Changes
            </h4>
            <p>
                Our Private Policy may change time to time. We will not reduce your rights under this privacy policy without your explicit consent. We will post any privacy policy changes.
            </p>
        </div>
        <!-- <div class="buttonOuter">
            <a href="#" ng-click="goBack($event)" class="button">GO BACK</a>
        </div>
        <div class="buttonOuter">
            <a href="#" ng-click="goHome($event)" class="button">HOME</a>
        </div> -->
    </ion-content>
</ion-view>
