<ion-view title="MEDICINE REMINDER">
    <ion-content has-tabs="true">
        <div class="card">
            <div class="item item-avatar headingDiv">
                <div class="articleHeading">Name of the Medicine</div>
            </div>

            <div class="item item-body">
                <input type="text" ng-model="singleReminder.name" placeholder="Enter medicine name" class="nameClass" >

            </div>
        </div>
        <div class="card">
            <div class="item item-avatar headingDiv">
                <div class="articleHeading">Reminder Times</div>
            </div>

            <div class="item item-body">
                    <select ng-model="singleReminder.remTimes" ng-change="updateRemTimes()" id="remTimesID">
                        <option value="1">Once A Day</option>
                        <option value="2">Twice A Day</option>
                        <option value="3">3 Times A Day</option>
                        <option value="4">4 Times A Day</option>
                        <option value="5">5 Times A Day</option>
                        <option value="6">6 Times A Day</option>
                        <option value="7">7 Times A Day</option>
                        <option value="8">8 Times A Day</option>
                        <option value="9">9 Times A Day</option>
                        <option value="10">10 Times A Day</option>
                        <option value="11">11 Times A Day</option>
                        <option value="12">12 Times A Day</option>
                    </select>
                    <br />
                    <div ng-repeat="singleMedicine in singleReminder.medDetails" ng-click="timePickerFunction($index)">
                        <div width="40%" style="float: left">
                            {{singleMedicine.timeHr}}:{{singleMedicine.timeMin}}
                        </div>
                        <div width="40%" style="float: right">
                            {{singleMedicine.dose}}
                        </div>
                        <div style="clear: both;">
                        </div>
                    </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-avatar headingDiv">
                <div class="articleHeading">Schedule</div>
            </div>

            <div class="item item-body">
                <div ng-click="openDatePicker()">
                    <div>
                        Start Date
                    </div>
                    <div>
                        {{singleReminder.startDate.toDateString()}}
                    </div>
                </div>
                <div>
                    Days
                </div>
                <div class="genderDiv animated fadeInUp">
                    <ion-list>
                        <ion-radio ng-model="singleReminder.days" ng-value="0" name="singleReminder.days">Every Day</ion-radio>
                        <ion-radio ng-click="updateDays()" ng-model="singleReminder.days" ng-value="1" name="singleReminder.days" >Specific Days</ion-radio>
                    </ion-list>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="item item-avatar headingDiv">
                <div class="articleHeading">Instructions</div>
            </div>

            <div class="item item-body">
                <ion-list>
                    <ion-radio ng-model="singleReminder.instructions" ng-value="0" name="singleReminder.instructions">Before Food</ion-radio>
                    <ion-radio  ng-model="singleReminder.instructions" ng-value="1" name="singleReminder.instructions" >After Food</ion-radio>
                    <ion-radio  ng-model="singleReminder.instructions" ng-value="2" name="singleReminder.instructions" >With Food</ion-radio>
                    <ion-radio  ng-model="singleReminder.instructions" ng-value="3" name="singleReminder.instructions" >No Instruction</ion-radio>
                </ion-list>
                <input type="text" ng-model="singleReminder.specificInstruction" placeholder="Specific Instruction" class="nameClass" >

            </div>
        </div>
        <div class="centerMe animated rollIn">
                <div>
                    <button class="button button-assertive" ng-click="setReminder()">
                        SET REMINDER NOW
                    </button>
             </div>
         </div>
    </ion-content>
</ion-view>
