<ion-view title="SLEEP WELL">
    <ion-content has-tabs="true">
        <div  class="centerMe">
            <h4 class="md-title">Wanna Try our new Sleep Well feature?</h4>
                <div>
                    <button id="gnButton" class="button button-assertive" ng-click="play()">
                        Good Night!
                    </button>
             </div><br />
             <div>
                 <button class="button button-assertive" ng-click="pause()">
                     Pause
                 </button>
          </div>
         </div>
    </ion-content>
</ion-view>
