<ion-view title="SLEEP WELL">
    <ion-content has-tabs="true">
        <p class="pawanStyle" style="font-weight:600;">Sleep Well provides a scientifically proven soothing music to help you sleep better. Press Play button to use this feature. Please make sure that there is no noise in the background to get the best out of this feature. You may use earphones.</p>
        <div id="overlay"></div>
        <div id="content">
            <div id="range">
                <input type="range" id="range-val" value="0" min="0" max="496">
                <div id='tip'>Some tip</div>
            </div>
            <div id="time">
                <p id="runningTime">0:00</p>
            </div>
            <div id="buttons">
                <i id="gnButton" class="buttonClass" ng-click="play()">&#9658;</i>
            </div>
            <div id="total-time">
                <p>8:16</p>
            </div>
        </div>

    </ion-content>
</ion-view>
