<ion-view title="TERMS OF SERVICE">
    <ion-content has-tabs="true">
        <div class="headingMargin animated lightSpeedIn">
            <h3>sugarT Terms of Service</h3>
            <p>Last modified: August 11 2016</p>
            <p>
                Thanks for using sugarT.
            </p>
            <p>
                sugarT allows you to test/check/evaluate risk impending with Type 2 diabetes with a simple questionnaire and also calculate your BMI i.e. Body Mass Index.
            </p>
            <p>
                By accessing, downloading or using sugarT, you are agreeing to:
                <ol>
                    <li class="olLI">
                        1.The sugarT Terms of Service.
                    </li>
                    <li class="olLI">
                        2. <a href="#/app/privacy">The sugarT Privacy Policy.</a>
                    </li>
                </ol>
            </p>
            <p>
                Collectively we refer to the sugarT Terms of service and privacy policy as the <b>“Agreement”</b>. The Agreement is a binding contract between you and sugarT regarding your use of sugarT.
                <ol>
                    <li class="olLI olLITop">1. <b>License</b> Subject to the agreement’s terms, sugarT grants you a non-exclusive, non-transferable license to use sugarT, including features that allows you to :
                        <ul>
                            <li class="olLI">
                                a.  View your Type 2 Diabetes risk score.
                            </li>
                            <li class="olLI">
                                b.  Calculate your Body Mass Index.
                            </li>
                            <li class="olLI">
                                c.  Publicly display content with proper attribution online, in video, and in print.
                            </li>
                        </ul>
                    </li>
                    <li  class="olLI olLITop">
                        2.  <b>Prohibit Conduct</b> when using sugarT, you may not (or allow those acting on your behalf to):
                        <ul>
                            <li class="olLI">
                                a.  Redistribute or sell any part of sugarT or create a new product or service based on sugarT.
                            </li>
                            <li class="olLI">
                                b.  Copy the content.
                            </li>
                            <li class="olLI">
                                c.  Mass download or create bulk feeds of the content (or let anyone else do so).
                            </li>
                            <li class="olLI">
                                d.  Reverse engineer or attempt to extract the source code from sugarT or any related software, except that this restriction is expressly prohibited by applicable law.
                            </li>
                            <li class="olLI">
                                e.  Remove, obscure or alter any sugarT terms of service or any links to or notices of those of those terms, or any copyright, trademark, or other proprietary rights notices.
                            </li>
                            <li class="olLI">
                                f.  Do anything inappropriate, illegal, or in violation of other’s rights.
                            </li>
                        </ul>
                    </li>
                    <li class="olLI olLITop">
                        3. <b>Actual Conditions; Assumption of Risk</b> When you use sugarT’s Diabetes risk calculator, BMI calculator and other content, you may find that actual conditions differ from the calculator results and content, so exercise your independent judgement and use sugarT at your own risk. You’re responsible at all times for your conduct and its consequences.
                    </li>
                    <li class="olLI">
                        4. <b>Your content in sugarT</b> Content you upload, submit, store, send or receive through sugarT remains exclusively local to your device is not uploaded or submitted to yamSoft and is therefore not subject to that license.
                    </li>
                </ol>
            </p>
        </div>
        <!-- <div class="buttonOuter">
            <a href="#" ng-click="goBack($event)" class="button">HOME</a>
        </div> -->
    </ion-content>
</ion-view>
